{% extends "base.html" %}

{% block content %}
<style>
    p.display-3 {padding-top:50px;
    color:grey;}
    p.display-4 {color: red;
    padding: 150px 210px;}
    form {margin: 0 30px;}
    div.message {color: red}
</style>
<div class='content1'>
    <p class="display-3" align="center">Вход</p>
    {% if current_user.is_authenticated %}
    <p class="display-4">Выйди, чтобы зайти снова!</p>
    {% else %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label}}<br>
            {{ form.email(class="form-control", type="email", placeholder="Email") }}<br>
            {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label}}<br>
            {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
            {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div class="message">{{ message }}</div>
    </form>
    {% endif %}
</div>

{% endblock %}